@{
    Layout="_AdminLayout";
}
@model AboutModel
<br>
<div class="container">
    <h2>Add About</h2>
    <form asp-controller="Admin" asp-action="AboutAdd" method="POST" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">

        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control">

        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control">

        <label asp-for="Mail"></label>
        <input asp-for="Mail" class="form-control">

        <label asp-for="ImageUrl" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="ImageUrl">
                        <input type="file" name="file">
                    </div>

        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>

        <input class="btn-check" type="checkbox" asp-for="IsActive" autocomplete="off">
        <label class="btn btn-outline-primary mt-3" asp-for="IsActive"></label>

        <button class="btn btn-primary mt-2" type="submit">Add</button>
    </form>
</div>