@{
    Layout="_AdminLayout";
}
@model CertificateModel
<br>
<div class="container">
    <h2>Edit Certificate</h2>
    <form asp-controller="Admin" asp-action="CertificateEdit" method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" name="CertificationId" value="@Model.CertificationId">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control">

        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control">

        <button class="btn btn-success mt-2" type="submit">Edit</button>
        
    </form>
</div>