@{
    Layout="_AdminLayout";
}
@model ExperienceModel
<br>
<div class="container">
    <h2>Add Experience</h2>
    <form asp-controller="Admin" asp-action="ExperienceAdd" method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control">

        <label asp-for="SubTitle"></label>
        <input asp-for="SubTitle" class="form-control">

        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>

        <label asp-for="FirstDate"></label>
        <input asp-for="FirstDate" class="form-control">

        <label asp-for="LastDate"></label>
        <input asp-for="LastDate" class="form-control">

        <button class="btn btn-primary mt-2" type="submit">Send</button>
    </form>
</div>